<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

    <!-- Echo all executed SQL to console -->
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.highlight_sql">true</property>

    <!-- Automatically export the schema -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- SQL optimized for PostgreSQL -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <mapping class="com.EstateCrawler.app.estates.EstateDTO"/>
  </session-factory>
</hibernate-configuration>